body {
    max-width: 3840px;
    flex-direction: row-reverse;
    margin: 0 auto;
    position: relative;
    font-family: "TTLakes-Light", Arial, serif;
    transition: all 0.3s;
    height: 400px;
}

ul {
    padding-inline-start: 0;
}

.page {
    background-color: #F8F8F8;
    background-size: 100%;

}

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    background-color: #fff;
    padding: 0 16px 0 16px;
    height: 88px;
}

.header::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: #D9FFF5;
    top: 87px;
    left: 0px;
}

.header .header__menu {
    margin-right: 20px;
    position: relative;
}

.button:hover {
    cursor: pointer;
    /* opacity: 0.8; */
    box-shadow: 0px 0px 10px 0 #1B1C21;
    transform: scale(1.2);
    transition: all 0.3s;
}

.button-style {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #FF3E79;
}

.button--menu {
    background-image: url(./images/burger.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.header__menu::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    top: 4px;
    right: -20px;
    background-color: #EAEAEA;
}

.header .header__logo {
    flex-grow: 1;
    margin-left: 16px;
}

.contacts__list {
    display: flex;
    position: relative;
}

.contacts__item {
    margin-right: 16px;
    list-style: none;
}

.button--call {
    background-image: url(./images/call.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button--chat {
    background-image: url(./images/chat.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button--profile {
    background-image: url(./images/profile.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.status {
    position: relative;
    padding: 0;
    margin-left: 20px;
}

.status::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    top: 4px;
    left: -20px;
    background-color: #EAEAEA;
}

.status .status__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.status .status__item {
    display: flex;
}

.button--repair {
    background-image: url(./images/repair.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
}

.button--checkstatus {
    background-image: url(./images/checkstatus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__text {
    font-family: "TTLakes-Bold", Arial, sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    position: relative;
    padding-left: 16px;
    margin: 0;
}

.title__text::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0px 20px 20px 0px;
    left: 0px;
}

*::before,
*::after {
    box-sizing: border-box;
}


.main__nav {
    margin: 24px 0;
    padding-left: 16px;
}

.nav .nav__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav .nav__list .nav__item {
    display: inline-block;
}

.nav__link {
    border-radius: 6px;
    color: #7E7E82;
    display: inline-block;
    font-family: "TTLakes-Medium", Arial, serif;
    font-size: 16px;
    padding: 6px 22px;
    text-decoration: none;
    white-space: nowrap;
    border: 2px solid rgba(0, 0, 0, 0);
}

.nav__link:hover,
.nav__link:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #ffffff;
}

.nav {
    overflow-x: scroll;
}

.description {
    display: flex;
    margin: 0;

}

.article {
    padding: 0px 16px 0 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 0;
    color: #1B1C21;
    flex-basis: 50%;
}

.article__text {
    max-height: 160px;
    overflow: hidden;
}

.article__read-more {
    margin: 16px 0 16px 0;
}

.description__link {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    padding-left: 16px;
    text-decoration: none;
}

.description__link:before {
    content: "";
    height: 11px;
    width: 8px;
    left: 0;
    top: 6px;
    position: absolute;
    background-image: url(./images/icon.svg);
}

.description__image {
    flex-basis: 50%;
}

/* figure {
    margin: 0;
    padding: 0;
} */

/* figure img {
    width: 100%;
} */

.description__image {
    margin: 0;
    padding: 0;
}

.img__CPS {
    width: 100%;
}

/* mobile */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.body__mobile-menu {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    position: absolute;
    padding: 0px 24px;
    background: #FFFFFF;
    box-shadow: -2px 0px 4px 0px rgba(69, 79, 126, 0.02), 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
    box-sizing: border-box;
}

.body__mobile-menu .header__mobile-menu {
    display: flex;
    margin-bottom: 32px;
    padding: 0;
}

.header__mobile-menu::before {
    content: none;
}

.button--back {
    background-image: url(./images/back.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.button--search {
    background-image: url(./images/search.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.link--menu:focus {
    outline: none;
}

.list--menu {
    margin: 0;
    padding: 0;
    ;
}

.link--menu {
    display: inline-block;
    font-family: "TTLakes-Medium", Arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    position: relative;
    margin-bottom: 32px;
}

.link:hover {
    color: #7E7E82;
    transition-property: all;
    transition-duration: 0.7s;
}

.link--menu:focus {
    color: #7E7E82;
    transition-property: all;
    transition-duration: 0.7s;
}

.link--menu:hover::before,
.link--menu:focus::before {
    transition-duration: 0.7s;
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 0px 20px 20px 0px;
    left: -24px;
    top: -4px;
}

.address {
    font-style: normal;
}

.link--mail {
    display: block;
    font-family: "TTLakes-Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-bottom: 12px;
}

.link--phone {
    display: block;
    font-family: "TTLakes-Bold", Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin-bottom: 40px;
}

.language__list {
    padding: 0;
    margin-bottom: 32px;

}

.language__item {
    display: inline-block;
}

.link--language {
    font-family: "TTLakes-Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-right: 5px;
}

.link--language-active {
    color: #7E7E82;
}

.content {
    background-color: #F8F8F8;
}

.content-text::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: #D9FFF5;
    top: 0px;
    left: 0px;
}

.content-text {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    font-family: "TTLakes-Light", Arial, serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-transform: uppercase;
    font-weight: inherit;
    background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
    height: 80px;
    margin: 0;
    margin-bottom: 20px;
}

.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 224px);
    grid-template-rows: repeat(2, 72px);
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    position: relative;
}

.card {
    display: grid;
    align-items: center;
    width: 224;
    height: 72px;
    padding-left: 16px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
}

.card:hover {
    cursor: pointer;
}

.card::before {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #FF3E79;
    border-right: 2px solid #FF3E79;
    position: absolute;
    right: 32px;
    top: 32px;
    transform: rotate(45deg);
}

.card::after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    position: absolute;
    right: 16px;
    top: 16px;
}

.button-mode {
    position: relative;
    background: #F8F8F8;
    font-family: "TTLakes-Medium", Arial, serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    padding-left: 20px;
    border: none;
}

.button-mode::before {
    content: "";
    height: 11px;
    width: 8px;
    left: 0;
    top: 6px;
    position: absolute;
    background-image: url(./images/icon.svg);
}

.clickButton {
    margin-top: 24px;
}

.clickButton:hover {
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0 #1B1C21;
    transition: all 0.3s;
}

.close-button::before {
    transform: rotate(180deg);
}

.swiper-pagination-bullet-active {
    background: #B5B6BC;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #DDDDDD;
}

@font-face {
    font-family: TTLakes-Bold;
    src: url(./fonts/TTLakes-Bold.ttf);
}

@font-face {
    font-family: TTLakes-Medium;
    src: url(./fonts/TTLakes-Medium.ttf);
}

@font-face {
    font-family: TTLakes-Light;
    src: url(./fonts/TTLakes-Light.ttf);
}

@media screen and (max-width: 1120px) {}

@media screen and (max-width: 768px) {

    .header__contacts {
        display: none;
    }

    .description {
        display: block;
    }

    .article__text {
        max-height: 90px;
        overflow-y: hidden;
    }

}

@media screen and (min-width: 1120px) and (max-width: 3840px) {

    .header {
        display: none;
    }

    .main__nav {
        margin: 8px 0;
        padding-left: 24px;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 42px;
        margin-right: 24px;
    }

    .title__text {
        padding-left: 33px;
    }

    .status::before {
        display: none;
    }

    .status__list {
        display: flex;
        margin: 0;
    }

    .status__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 8px;
    }

    .status__span {
        font-family: "TTLakes-Medium", Arial, serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-right: 8px;
    }

    .nav__list {
        flex-wrap: wrap;
    }

    .article {
        padding: 9px 35px 0 35px;
    }

    .description__image {
        padding-right: 28px;
    }

    .img__CPS {
        border-radius: 10px;
    }

    .content {
        padding-left: 32px;
    }

    .grid {
        grid-template-columns: repeat(4, 240px);
        grid-template-rows: repeat(2, 72px);
        grid-column-gap: 32px;
        grid-row-gap: 16px;
        position: relative;
    }

    .click-mode {
        height: 160px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1120px) {

    .header {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        background-color: #fff;
        padding: 0 24px 0 24px;
        height: 88px;
    }

    .title__text {
        font-family: "TTLakes-Bold", Arial, sans-serif;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
        position: relative;
        padding-left: 24px;
        margin: 0;
    }

    .title__status {
        display: none;
    }

    .main__nav {
        margin: 32px 0;
        padding-left: 24px;
    }

    .article {
        padding: 0px 24px 0 24px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin: 0;
        color: #1B1C21;
        flex-basis: 50%;
    }

    .article__text {
        max-height: 160px;
        overflow-y: hidden;
    }

    .description__image {
        padding-right: 24px;
    }

    .img__CPS {
        border-radius: 10px;
    }

    .content {
        padding-left: 24px;
    }

    .click-mode {
        height: 160px;
    }

}

@media screen and (min-width: 240px) and (max-width: 768px) {

    .title__status {
        display: none;
    }

    .content {
        width: 100%;
        overflow: hidden;
    }

    .content-text {
        padding: 16px;
    }

    .swiper {
        display: flex;
        width: 320px;
        height: 100px;
        padding-bottom: 16px;
    }

    .swiper::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 81px;
        left: 296px;
        z-index: 10;
        background: linear-gradient(90deg, transparent, #F8F8F8);
    }

    .swiper-slide {
        width: 240px;
        margin-left: 16px;
    }

    .grid {
        display: flex;
        gap: 0;
        height: 72px;
    }

    .button-mode {
        display: none;
    }

}