@import 'style.scss';

.commercial{
  margin: 10px 32px;
  .commercial-offer{
    text-align: left;
    max-width: 420px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $black-blue-color;
    margin-bottom: 16px;
  }
  .commercial-link{
    display: block;
    font-size: 16px;
    font-weight:600;
    line-height: 24px;  
    letter-spacing: -0.2px;
    color: $black-blue-color;
    position: relative;
    text-decoration: none;
    &::after{
      content: "";
      width: 10px;
      height: 10px;
      border-top: 2px solid $pink-color;
      border-right: 2px solid $pink-color;
      transform: rotate(45deg);
      position: relative;
      right: -10px;
      display: inline-block;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}