@import 'style.scss';

.card-brands {
  display: flex;
  align-items: center;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 224px;
  height: 72px;
}

.card-brands:before {
  content: '';
  width: 8px;
  height: 8px;
  border-top: 2px solid $pink-color;
  border-right: 2px solid $pink-color;
  position: absolute;
  right: 32px;
  top: 32px;
  transform: rotate(45deg);
}

.card-brands:after {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $pink-color;
  position: absolute;
  right: 16px;
  top: 16px;
}